body {
  margin: 0px;
  width: 100%;
  background-color: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: calc(100% - 610px) 100%;

  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 155px auto;

  grid-template-areas:
    "logo img"
    "text img";

  font-family: "Josefin Sans", sans-serif;
  font-style: 16px;
  font-weight: 400;
  color: hsl(0, 36%, 70%);
  line-height: 25px;
}

p {
  margin: 20px 0px;
}

#logo {
  padding: 60px 120px;
  grid-area: logo;
}

#img {
  grid-area: img;
}

#text-section {
  padding: 70px 26.51% 0px 20.48%;
  grid-area: text;

  display: flex;
  gap: 20px;
  flex-direction: column;
}

#header {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 20px;
  line-height: 60px;
  text-transform: uppercase;
}

span {
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}

#input-field {
  width: 100%;
  height: 60px;
}

#email-input {
  width: calc(100% - 64px);
  height: calc(100% - 4px);
  padding: 0px 30px;

  border-radius: 30px;
  border-style: solid;
  border-color: hsla(0, 36%, 70%, 0.25);
}

#email-input::placeholder {
  color: hsla(0, 36%, 70%, 0.5);
}

.warning-box {
  border-color: hsl(0, 93%, 68%) !important;
}

.show-warning {
  visibility: visible !important;
}

#error {
  visibility: hidden;
  position: relative;
  top: -95%;
  right: calc(-100% + 140px);
}

#btn {
  position: relative;
  top: -100%;
  right: calc(-100% + 128px);

  width: 100px;
  height: 100%;
  border-radius: 30px;
  border: 0px;

  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

#btn:hover {
  background-image: linear-gradient(
    136deg,
    hsla(0, 74%, 74%, 0.5),
    hsla(0, 80%, 86%, 0.5)
  );
  box-shadow: 3px 3px 6px 3px hsla(0, 36%, 70%, 0.75);
  cursor: pointer;
}

#error-msg {
  visibility: hidden;
  position: relative;
  font-size: 12px;
  top: -125%;
  color: hsl(0, 93%, 68%);
  padding-left: 30px;
}

@media (max-width: 1200px) {
  #header {
    letter-spacing: 18px;
  }
}

@media (max-width: 1190px) {
  #header {
    letter-spacing: 16px;
  }
}

@media (max-width: 1170px) {
  #header {
    letter-spacing: 14px;
  }
}

@media (max-width: 1150px) {
  #header {
    letter-spacing: 12px;
  }
}

@media (max-width: 1130px) {
  #header {
    letter-spacing: 10px;
  }
}

@media (max-width: 1110px) {
  #header {
    letter-spacing: 8px;
  }
}

@media (max-width: 1090px) {
  #header {
    letter-spacing: 6px;
  }
}

@media (max-width: 1070px) {
  #header {
    letter-spacing: 4px;
  }

  #btn {
    width: 90px;
    right: calc(-100% + 118px);
  }

  #error {
    right: calc(-100% + 130px);
  }
}

@media (max-width: 1050px) {
  #header {
    letter-spacing: 2px;
  }

  #btn {
    width: 70px;
    right: calc(-100% + 98px);
  }

  #error {
    right: calc(-100% + 110px);
  }
}

@media (max-width: 1030px) {
  #header {
    letter-spacing: 0px;
  }

  #btn {
    width: 60px;
    right: calc(-100% + 88px);
  }

  #error {
    right: calc(-100% + 100px);
  }
}

@media (max-width: 1010px) {
  body {
    background-size: 100% 100%;

    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "logo"
      "img"
      "text";
  }

  #logo {
    justify-self: center;
  }

  #img {
    content: url("./images/hero-mobile.jpg");
    width: 100%;
  }

  #header,
  #desc {
    text-align: center;
  }

  #btn {
    width: 100px;
    right: calc(-100% + 128px);
  }

  #error {
    right: calc(-100% + 140px);
  }
}

@media (max-width: 500px) {
  #btn {
    width: 90px;
    right: calc(-100% + 118px);
  }

  #error {
    right: calc(-100% + 130px);
  }
}

@media (max-width: 470px) {
  #btn {
    width: 70px;
    right: calc(-100% + 98px);
  }

  #error {
    right: calc(-100% + 110px);
  }
}

@media (max-width: 430px) {
  #btn {
    width: 60px;
    right: calc(-100% + 88px);
  }

  #error {
    right: calc(-100% + 100px);
  }
}
